# dependencies
node_modules/

# build output
build/

# local cache
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.eslintcache

# system files
.DS_Store
Thumbs.db
node_modules/.cache/.eslintcache
